{% extends 'base.html.twig' %}

{% block title %}Disziplin anzeigen{% endblock %}

{% block body %}
    <h1>Disziplin anzeigen</h1>

    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ discipline.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ discipline.name }}</td>
        </tr>
        <tr>
            <th>Schüsse je Serie</th>
            <td>{{ discipline.shotsPerSeries }}</td>
        </tr>
        <tr>
            <th>Max. Anzahl Serien</th>
            <td>{{ discipline.maxSeriesCount }}</td>
        </tr>
        <tr>
            <th>Wertungsmodus</th>
            <td>{{ discipline.scoringMode ? discipline.scoringMode.getLabel() : '' }}</td>
        </tr>
        <tr>
            <th>Max. Punktzahl je Schuss</th>
            <td>{{ discipline.maxScoresPerShot }}</td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="{{ path('disciplines_list') }}" class="btn">Zurück zur Liste</a>
        <a href="{{ path('disciplines_edit', {id: discipline.id}) }}" class="btn">Bearbeiten</a>
    </p>


    <h2>Verknüpfte Wettkämpfe</h2>
    {% if discipline.competitions is empty %}
        <p>Keine Wettkämpfe verknüpft.</p>
    {% else %}
        <ul>
            {% for competition in discipline.competitions %}
                <li>{{ competition.name }}{% if competition.type %} ({{ competition.type.getLabel() }}){% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'discipline/_delete_form.html.twig' with {
        discipline: discipline
    } %}
{% endblock %}
