{% extends 'base.html.twig' %}

{% block title %}Schüsse erfassen{% endblock %}

{% block body %}
    <h1>Schüsse erfassen</h1>

    <p>
        <strong>Person:</strong> {{ series.person.fristName }} {{ series.person.lastName }}<br>
        <strong>Disziplin:</strong> {{ series.discipline.name }}<br>
        <strong>Team:</strong> {{ series.team ? series.team.name : '-' }}<br>
        <strong>Runde:</strong> {{ series.round.name }}
    </p>

    <p>Erfasse die Serie gesammelt in einem Formular ({{ targetShotCount }} Schüsse).</p>

    {{ form_start(form) }}
        <div style="margin-bottom: 15px; max-width: 300px;">
            {{ form_row(form.finalScoreOverride) }}
        </div>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Wert</th>
                <th>X</th>
                <th>Y</th>
                <th>Aufnahmezeit</th>
            </tr>
            </thead>
            <tbody>
            {% for shotRow in form.shots %}
                <tr>
                    <td>{{ shotRow.ShotIndex.vars.value }}{{ form_widget(shotRow.ShotIndex) }}</td>
                    <td>{{ form_widget(shotRow.value) }}</td>
                    <td>{{ form_widget(shotRow.XPosition) }}</td>
                    <td>{{ form_widget(shotRow.YPosition) }}</td>
                    <td>{{ form_widget(shotRow.RecordTime) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <button type="submit" class="btn">Alle Schüsse speichern</button>
            <a href="{{ path('shots_person_list', {round: series.round.id}) }}" class="btn">Zurück zur Übersicht</a>
        </p>
    {{ form_end(form) }}
{% endblock %}
